In [1]:
import numpy as np
import pandas as pd

In [2]:
matches = pd.read_csv('ipl-matches.csv')
matches.head(1)

,ID,City,Date,Season,MatchNumber,Team1,Team2,Venue,TossWinner,TossDecision,SuperOver,WinningTeam,WonBy,Margin,method,Player_of_Match,Team1Players,Team2Players,Umpire1,Umpire2
0,1312200,Ahmedabad,2022-05-29,2022,Final,Rajasthan Royals,Gujarat Titans,"Narendra Modi Stadium, Ahmedabad",Rajasthan Royals,bat,N,Gujarat Titans,Wickets,7.0,NaN,HH Pandya,"['YBK Jaiswal', 'JC Buttler', 'SV Samson', 'D ...","['WP Saha', 'Shubman Gill', 'MS Wade', 'HH Pan...",CB Gaffaney,Nitin Menon

In [3]:
matches.columns

Index(['ID', 'City', 'Date', 'Season', 'MatchNumber', 'Team1', 'Team2',
       'Venue', 'TossWinner', 'TossDecision', 'SuperOver', 'WinningTeam',
       'WonBy', 'Margin', 'method', 'Player_of_Match', 'Team1Players',
       'Team2Players', 'Umpire1', 'Umpire2'],
      dtype='object')

In [4]:
list(set(list(matches['Team1']) + list(matches['Team2'])))

['Kings XI Punjab',
 'Gujarat Titans',
 'Chennai Super Kings',
 'Royal Challengers Bangalore',
 'Rising Pune Supergiants',
 'Deccan Chargers',
 'Rajasthan Royals',
 'Gujarat Lions',
 'Pune Warriors',
 'Sunrisers Hyderabad',
 'Delhi Daredevils',
 'Punjab Kings',
 'Mumbai Indians',
 'Kolkata Knight Riders',
 'Delhi Capitals',
 'Lucknow Super Giants',
 'Rising Pune Supergiant',
 'Kochi Tuskers Kerala']

In [5]:
matches.head(1)

,ID,City,Date,Season,MatchNumber,Team1,Team2,Venue,TossWinner,TossDecision,SuperOver,WinningTeam,WonBy,Margin,method,Player_of_Match,Team1Players,Team2Players,Umpire1,Umpire2
0,1312200,Ahmedabad,2022-05-29,2022,Final,Rajasthan Royals,Gujarat Titans,"Narendra Modi Stadium, Ahmedabad",Rajasthan Royals,bat,N,Gujarat Titans,Wickets,7.0,NaN,HH Pandya,"['YBK Jaiswal', 'JC Buttler', 'SV Samson', 'D ...","['WP Saha', 'Shubman Gill', 'MS Wade', 'HH Pan...",CB Gaffaney,Nitin Menon

In [9]:
team1 = "Rajasthan Royals"
team2 = "Royal Challengers Bangalore"

In [12]:

temp_df = matches[(matches['Team1'] == team1) & (matches['Team2'] == team2) | (matches['Team1'] == team2) & (matches['Team2'] == team1)]

In [13]:
total_matches = temp_df.shape[0]

In [19]:
matches_won_team1 = temp_df["WinningTeam"].value_counts()[team1]
matches_won_team2 = temp_df["WinningTeam"].value_counts()[team2]

draws = total_matches - (matches_won_team1 + matches_won_team2)

In [20]:
def team_vs_team(team1, team2):
    temp_df = matches[(matches['Team1'] == team1) & (matches['Team2'] == team2) | (matches['Team1'] == team2) & (matches['Team2'] == team1)]

    total_matches = temp_df.shape[0]

    matches_won_team1 = temp_df["WinningTeam"].value_counts()[team1]
    matches_won_team2 = temp_df["WinningTeam"].value_counts()[team2]

    draws = total_matches - (matches_won_team1 + matches_won_team2)
    
    response = {
        'total_matches' : total_matches,
        team1 : matches_won_team1,
        team2 : matches_won_team2,
        'draws' : draws
        
    }
    
    return response

In [22]:
team_vs_team("Chennai Super Kings", "Mumbai Indians")

{'total_matches': 34,
 'Chennai Super Kings': 14,
 'Mumbai Indians': 20,
 'draws': 0}

In [25]:
matches["Team1"]

0                 Rajasthan Royals
1      Royal Challengers Bangalore
2      Royal Challengers Bangalore
3                 Rajasthan Royals
4              Sunrisers Hyderabad
                  ...
945          Kolkata Knight Riders
946                 Mumbai Indians
947               Delhi Daredevils
948                Kings XI Punjab
949    Royal Challengers Bangalore
Name: Team1, Length: 950, dtype: object